<div class="container">
    <a ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a>
    <br/>
    <div ng-if="movie">
        <div class="row top-space">
            <div class="col-md-3">
                <img data-ng-src="{{movie.PosterPath}}" class="thumb-big">
            </div>
            <div class="col-md-9">
                <h3>{{movie.Title}} <span class="small"></span></h3>
                <h4 class="grey">{{movie.ReleaseDate}}</h4>
                <span data-ng-repeat="i in getCount(movie.Rating) track by $index" class="glyphicon orange g-2x glyphicon-star"></span>
                <span class="label">{{movie.Genre}}</span>
                <p>{{movie.Description}}</p>
            </div>
        </div>
    </div>
    <div ng-show="!movie">No Tag Found</div>
</div>