<div class="container">
    <a ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a>
    <br/>
    <div ng-if="movie">
        <div class="row top-space">
            <div class="col-md-3">
                <img data-ng-src="{{movie.PosterPath}}" class="thumb-big">
            </div>
            <div class="col-md-9">
                <h3>{{movie.Title}} ({{movie.ReleaseDate}})</h3>
                <p><span class="label label-primary">{{movie.Genre}}</span> <span class="label label-primary">{{movie.Region}}</span> <span class="label label-primary">{{movie.CensorRating}}</span></p>
                <p><span data-ng-repeat="i in getCount(movie.Rating) track by $index" class="glyphicon orange g-2x glyphicon-star"></span><br>
                <a href="{{movie.TrailerLink}}">Watch Trailer Now <span class="glyphicon glyphicon-menu-right"></span></a><br>
                {{movie.Description}}</p>
            </div>
        </div>
    </div>
    <div ng-show="!movie" class="no-data text-center">No Movie Found</div>
</div>