.navbar-custom {
    background-color: #ff9999;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff;
}

body {
    margin: 0;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .navbar-toggle {
    background-color: #6DCCA8;
}

.navbar-custom .icon-bar {
    background-color: #6DCCA8;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #6DCCA8;
}

.greenish-color {
    color: #2ebbc7
}

.actors {
    margin: 5% 15%;
}

.actors div {
    padding: 2% 5%;
    border: 1px solid #ccc;
}

.actors .glyphicon,.orange {
    color: #f05a29;
}

.actors a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.thumb-big {
    width: 100%;
}

.availability {
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.bookThumb {
    height: 149px;
    padding-right: 21px;
}

.top-space {
    margin-top: 32px;
}

.g-2x{
    font-size: 20px;
}

.grey {
    color: #333;
}

.no-data{
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
}